{{with secret "secret/certificat-web"}}
{{ index .Data.data "privkey.pem" | writeToFile "privkey.pem" "" "" "0400"}}
{{ index .Data.data "chain.pem" | writeToFile "chain.pem" "" "" "0400"}}
{{ index .Data.data "cert.pem" | writeToFile "cert.pem" "" "" "0400"}}
{{ index .Data.data "fullchain.pem" | writeToFile "fullchain.pem" "" "" "0400"}}
{{ index .Data.data "privkey.pem"}}
{{ index .Data.data "chain.pem"}}
{{ index .Data.data "cert.pem"}}
{{ index .Data.data "fullchain.pem"}}
{{end}}